/* ComboBox styling */
.combo-box {
    -fx-background-color: white;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 5 10 5 10;
}

.combo-box .text {
    -fx-font-family: 'Poppins';
    -fx-font-size: 14px;
    -fx-text-fill: #171926;
}

.list-cell {
    -fx-background-color: #ffffff;
    -fx-font-family: 'Poppins';
    -fx-font-size: 14px;
    -fx-font-weight: bolder;
    -fx-background-radius: 8px;
    -fx-text-fill: #171926;
}

.list-cell:hover {
    -fx-background-color: #f0f0f0;
}

.combo-box:focused {
    -fx-border-color: #2954ED;
    -fx-background-color: #f9f9f9;
}